.gradle/vcs-1/gc.properties
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.8/gc.properties
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileChanges/last-build.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/dependencies-accessors/gc.properties
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/checksums.lock
gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/vcs.xml
.idea/modules/SizeChange.test.iml
.idea/modules/SizeChange.main.iml
.idea/modules.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.gradle/caches/paperweight/taskCache/reobfJar.log
build/tmp/shadowJar/MANIFEST.MF
build/tmp/jar/MANIFEST.MF
build/tmp/compileJava/previous-compilation-data.bin
build/resources/main/setting.yml
build/resources/main/plugin.yml
build/resources/main/message.yml
build/libs/SizeChange-v1.0.jar
build/libs/SizeChange-v1.0-dev.jar
build/libs/SizeChange-v1.0-dev-all.jar
build/classes/java/main/dev/anhuar/sizeChange/util/GsonUtil.class
build/classes/java/main/dev/anhuar/sizeChange/util/ConfigUtil.class
build/classes/java/main/dev/anhuar/sizeChange/SizeChange.class
build/classes/java/main/dev/anhuar/sizeChange/manager/SizeManager.class
build/classes/java/main/dev/anhuar/sizeChange/manager/PlayerDataManager.class
build/classes/java/main/dev/anhuar/sizeChange/listener/WorldListener.class
build/classes/java/main/dev/anhuar/sizeChange/listener/WorldListener$1.class
build/classes/java/main/dev/anhuar/sizeChange/listener/PlayerListener.class
build/classes/java/main/dev/anhuar/sizeChange/handler/MongoHandler.class
build/classes/java/main/dev/anhuar/sizeChange/handler/ManagerHandler.class
build/classes/java/main/dev/anhuar/sizeChange/handler/ListenerHandler.class
build/classes/java/main/dev/anhuar/sizeChange/handler/CommandHandler.class
build/classes/java/main/dev/anhuar/sizeChange/data/DPlayer.class
build/classes/java/main/dev/anhuar/sizeChange/command/SizeCommand.class
