.gradle/vcs-1/gc.properties
.gradle/file-system.probe
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.8/gc.properties
.gradle/8.8/fileHashes/resourceHashesCache.bin
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/8.8/fileHashes/fileHashes.bin
.gradle/8.8/fileChanges/last-build.bin
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/executionHistory/executionHistory.bin
.gradle/8.8/dependencies-accessors/gc.properties
.gradle/8.8/checksums/sha1-checksums.bin
.gradle/8.8/checksums/md5-checksums.bin
.gradle/8.8/checksums/checksums.lock
gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/vcs.xml
.idea/modules/SizeChange.test.iml
.idea/modules/SizeChange.main.iml
.idea/modules.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
